<form [formGroup]="form" class="row m-3">
    <mat-form-field appearance="fill" class="col">
        <mat-label>Room 1</mat-label>
        <input type="text" placeholder="Select a Room" aria-label="Room" matInput formControlName="PointFromControl"
                [matAutocomplete]="autoFrom">
        <mat-autocomplete #autoFrom="matAutocomplete" [displayWith]="getRoomName">
            <mat-option *ngFor="let room of filteredRoomsFrom" [value]="room">
                {{room.displayName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
        <mat-label>Room 2</mat-label>
        <input type="text" placeholder="Select a Room" aria-label="Room" matInput formControlName="PointToControl"
                [matAutocomplete]="autoTo">
        <mat-autocomplete #autoTo="matAutocomplete" [displayWith]="getRoomName">
            <mat-option *ngFor="let room of filteredRoomsTo" [value]="room">
                {{room.displayName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<div class="d-flex align-items-center justify-content-center">
    <canvas #canvas height="750px" width="750px"></canvas>
</div>
<div class="row m-4 gap-2">
    <button mat-raised-button color="primary" (click)="submit()" class="col">Submit</button>
    <button mat-raised-button color="warn" (click)="clear()" class="col">Clear</button>
</div>