<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NAVIGATOR</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
