<form [formGroup]="form" class="p-3">
    <mat-form-field appearance="fill" class="m-2">
        <mat-label>Point 1</mat-label>
        <input type="text" placeholder="Select a Point" aria-label="Point" matInput formControlName="PointFromControl"
                [matAutocomplete]="autoFrom">
        <mat-autocomplete (optionSelected)="selectionChange($event)" #autoFrom="matAutocomplete" [displayWith]="displayPointName">
            <mat-option *ngFor="let point of filteredPointsFrom" [value]="point">
                {{point.getDisplayName()}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Point 2</mat-label>
        <input type="text" placeholder="Select a Point" aria-label="Point" matInput formControlName="PointToControl"
                [matAutocomplete]="autoTo">
        <mat-autocomplete (optionSelected)="selectionChange($event)" #autoTo="matAutocomplete" [displayWith]="displayPointName">
            <mat-option *ngFor="let point of filteredPointsTo" [value]="point">
                {{point.getDisplayName()}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>