<form [formGroup]="form" class="p-3">
    <mat-form-field appearance="fill">
        <mat-label>Point 1</mat-label>
        <input type="text" placeholder="Select a Point" aria-label="Point" matInput formControlName="autocompleteInputPointFrom"
                [matAutocomplete]="autoFrom">
        <mat-autocomplete #autoFrom="matAutocomplete" [displayWith]="displayPointName">
        <mat-option *ngFor="let point of filteredPointsFrom | async" [value]="point">
            {{point.getDisplayName()}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Point 2</mat-label>
        <input type="text" placeholder="Select a Point" aria-label="Point" matInput formControlName="autocompleteInputPointTo"
                [matAutocomplete]="autoTo">
        <mat-autocomplete #autoTo="matAutocomplete" [displayWith]="displayPointName">
        <mat-option *ngFor="let point of filteredPointsTo | async" [value]="point">
            {{point.getDisplayName()}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>